@font-face {
	/*all this work just to use the niche font I want */
	font-family: 'FOT-Yuruka Std';
	src: url(fonts/FOT-Yuruka\ Std.woff2);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	border: none;
	outline: none;
	scroll-behavior: smooth;
	font-family: 'FOT-Yuruka Std';
}

:root {
	--bg-color: #111111;
	--second-bg-color: #151515;
	--text-color: white;
	--main-color: #04fffb;
}

html {
	scroll-behavior: smooth;
	overflow-x: hidden;
	cursor: url('soul.png'), auto;
}

body {
	background: var(--bg-color);
	color: var(--text-color);
}

h1 {
	text-align: center;
	font-size: 64px;
	font-family: 'FOT-Yuruka Std';
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 3rem 9%;
	background-color: rgba(0, 0, 0, 0.6);
	backdrop-filter: blur(10px);
	display: flex;
	justify-content: space-between; /* main axis */
	align-items: center; /* cross axis */
}

.logo {
	font-size: 3rem;
	color: var(--text-color);
	cursor: pointer;
	transition: 0.3s ease-in-out;
}

.logo:hover {
	transform: scale(1.1);
}

.navbar a {
	font-size: 1.8rem;
	color: white;
	margin-left: 4rem;
	font-weight: 500;
	transition: 0.3 ease-in-out;
	border-bottom: 3px solid transparent;
}

.navbar a:hover,
.navbar a.active {
	color: var(--main-color);
	border-bottom: 3px solid var(--main-color);
}

#menu-icon {
	font-size: 3.6rem;
	color: var(--main-color);
	display: none;
}

ul,
a {
	list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
	font-size: 28px;
	color: black;
	font-family: 'FOT-Yuruka Std';
}

/* nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-left: 5%;
	padding-right: 5%;
} */

ul {
	max-width: 30%;
	padding-left: 5%;
	padding-right: 5%;
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

a:hover {
	color: blueviolet;
}

.image-container {
	position: relative;
	width: 256px;
}

.image-container img {
	top: 0;
	left: 0;
	width: 100%;
	object-fit: contain;
	position: absolute;
}

.img-hover {
	opacity: 0;
}

.image-container:hover .img-hover {
	opacity: 1;
}
.image-container:hover .img-base {
	opacity: 0;
}

@media (prefers-reduced-motion: no-preference) {
	@view-transition {
		navigation: auto;
	}

	::view-transition-group(page-content) {
		animation-duration: 1s;
		animation-timing-function: ease;
	}

	::view-transition-old(page-content) {
		animation-name: slide-out;
	}

	::view-transition-new(page-content) {
		animation-name: slide-in;
	}

	main {
		view-transition-name: page-content;
	}

	.card img,
	.hero-image {
		view-transition-name: article-image;
	}

	@keyframes slide-out {
		to {
			translate: -100vw;
		}
	}

	@keyframes slide-in {
		to {
			translate: 100vw;
		}
	}
}
